.canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: white;
  box-shadow: 0 0 10px 5px rgb(125, 196, 59),
              0 0 20px 4px black;
  border-radius: 10px;
}